@import url(https://fonts.googleapis.com/css?family=News+Cycle:700|Alegreya+Sans+SC:400,900|Overlock:700,900italic);
@-webkit-keyframes point {
  0% {
    left: 0px;
  }

  100% {
    left: -15px;
  }
}
.switch {
  display: block;
  margin: 12px auto;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  width: 100%;
  text-transform: uppercase;
  background: #47a8d8;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #000;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  background: #DC5551;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  display: block;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}

.switch-input:checked ~ .switch-handle {
  left: 53px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

pre.datastructure {
  position: relative;
  display: inline-block;
  padding: 0px 10px;
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 900;
}
pre.datastructure.warning {
  background-color: rgba(255, 255, 0, 0.5);
  border: 4px inset rgba(255, 255, 0, 0.75);
}
pre.datastructure.error {
  background-color: rgba(220, 85, 81, 0.5);
  border: 4px inset rgba(220, 85, 81, 0.75);
}
pre.datastructure.notice {
  background-color: rgba(71, 168, 216, 0.5);
  border: 4px inset rgba(71, 168, 216, 0.75);
}

html {
  background: url("../images/black-white-city.jpg") fixed no-repeat;
}
html:after {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+71,4c4c4c+81&amp;1+70,0.57+90 */
  background: -moz-linear-gradient(top, #333333 70%, rgba(51, 51, 51, 0.98) 71%, rgba(76, 76, 76, 0.76) 81%, rgba(76, 76, 76, 0.57) 90%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #333333 70%, rgba(51, 51, 51, 0.98) 71%, rgba(76, 76, 76, 0.76) 81%, rgba(76, 76, 76, 0.57) 90%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #333333 70%, rgba(51, 51, 51, 0.98) 71%, rgba(76, 76, 76, 0.76) 81%, rgba(76, 76, 76, 0.57) 90%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#914c4c4c',GradientType=0 );
  /* IE6-9 */
  content: "";
  background-color: #CCC;
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .75;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}
body.no-scroll {
  overflow: hidden;
}

header, nav, footer, section, article, div, aside {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

header {
  width: 100%;
  height: auto;
  z-index: 991;
  position: fixed;
  display: block;
}
header.top:after {
  clear: both;
  display: block;
  content: "";
  height: 1px;
}

nav {
  float: right;
  height: 50px;
  margin-top: -54px;
  margin-right: 10%;
  font-size: 1.15em;
  font-weight: 900;
  text-shadow: 2px 2px #000;
}
nav.control {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.85);
  padding-top: 15px;
  height: 70px;
  border-bottom: 5px solid #CCC;
  box-shadow: 2px 2px 2px #000;
  color: #FFF;
}
nav.control ul {
  margin-top: 15px;
  margin: 0px auto;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  /*background-color:rgba(204,204,204,.45);*/
  width: 75%;
  padding: 0 !important;
  height: 50px;
}
nav.control ul li {
  display: inline-block;
  float: none;
  padding: 12px 10px;
  /*background-color:rgba(204,204,204,.45);*/
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: "Alegreya Sans SC";
}
nav.control ul li:first-child {
  border-left: none;
  border-right: none;
}
nav.control ul li:last-child {
  border-left: none;
  border-right: none;
}
nav.control ul li.center-medalion, nav.control ul li.empty {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
nav.control ul li.center-medalion:hover, nav.control ul li.empty:hover {
  background-color: inherit !important;
}
nav.control ul li:hover {
  background-color: rgba(140, 192, 64, 0.85);
}
nav.control ul li a {
  color: #FFF;
  display: block;
}
nav ul {
  list-style: none;
  height: 50px;
}
nav ul li {
  display: block;
  float: left;
  padding: 10px 15px;
}
nav ul li a {
  text-decoration: none;
}
nav ul li:hover {
  background-color: rgba(250, 250, 250, 0.75);
}
nav.settings-options {
  float: left;
  color: #000;
  margin-top: 0px;
  margin-right: 0px;
  height: auto;
  width: 20%;
  min-width: 200px;
  text-shadow: none;
  box-sizing: border-box;
}
nav.settings-options:after {
  clear: both;
  content: "";
  display: block;
}
nav.settings-options ul {
  margin-bottom: 0px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #000;
  height: auto;
  background-color: #CCC;
}
nav.settings-options ul li {
  border-bottom: 1px solid #000;
  border-radius: 0;
  margin: 0px;
  float: none;
}
nav.settings-options ul li a {
  color: #000;
  font-size: 14px;
  font-family: "Alegreya Sans SC";
  display: block;
}
nav.settings-options ul li:hover {
  background-color: #000;
}
nav.settings-options ul li:hover a {
  text-shadow: none;
  color: #FFF;
}
nav.pagination {
  clear: both;
  float: none;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-right: 0px;
  display: block;
  padding-bottom: 10px;
  height: auto;
  width: 100%;
  text-align: center;
  text-shadow: none;
}
nav.pagination a {
  margin: 0px 25px;
  display: inline-block;
  padding: 5px;
  color: #FFF;
}

.align-left {
  float: left;
}

.justify-left {
  text-align: left;
}

.align-right {
  float: right;
}

.justify-right {
  text-align: right;
}

.full {
  width: 100%;
}

.half {
  width: 50%;
}

.thirds {
  width: 33.333333333333333%;
}

.quarters {
  width: 25%;
}

div.medalion {
  background-color: transparent;
  display: inline-block;
  text-align: center;
  margin-top: -15px;
}
div.medalion img {
  display: inline-block;
  width: 85px;
  height: 85px;
  border: 5px solid #CCC;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 3px #000;
  background-color: #FFF;
}

div.body {
  margin-top: 70px;
}

.popUp-info {
  cursor: pointer;
}

.instructions {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  padding: 35px;
  border-radius: 50%;
  border: 1px inset #000;
  z-index: 99999;
  box-shadow: inset -2px 0px 8px 5px rgba(0, 0, 0, 0.3);
  color: blue;
  font-weight: 900;
}
.instructions:before {
  content: "CLOSE";
  position: absolute;
  top: 0;
  right: 30px;
  height: auto;
  display: block;
  font-size: 11px;
}
.instructions:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 150px;
  border-width: 0 20px 50px 0px;
  border-style: solid;
  border-color: transparent #FFF;
  display: block;
  width: 0;
}
.instructions.view_versions_help_1 {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 200px;
  height: 150px;
  background-color: #fff;
  padding: 30px;
  border-radius: 25%;
  border: 1px inset #000;
  z-index: 99999;
}
.instructions.view_versions_help_1:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 120px;
  border-width: 0 20px 50px 0px;
  border-style: solid;
  border-color: transparent #FFF;
  display: block;
  width: 0;
}

section {
  padding: 0px;
  /*background-color:rgba(250,250,250,0.87);*/
  width: 75%;
  margin: auto;
}
section .title-block {
  width: 100%;
  margin-bottom: 5px;
}
section .title-block:after {
  content: "";
  display: block;
  clear: both;
}

h1.title, h2.title {
  width: 50%;
  margin-top: 0px;
  font-family: "News Cycle";
  display: inline-block;
  margin-bottom: 0px;
  color: #FFF;
  background-color: rgba(140, 192, 64, 0.5);
  padding: 0px 5px;
  box-sizing: border-box;
}

table {
  border: 1px solid #0c0c0c;
  padding: 35px;
}

div.pop_up {
  background-color: #fff;
  border-radius: 25px;
  padding: 20px;
  z-index: 10000;
  text-align: center;
}
div.pop_up .ui-dialog-title {
  width: 100%;
}
div.pop_up h4 {
  font-size: 1.35em;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
}
div.pop_up .ui-dialog-content {
  padding: 0px;
}
div.pop_up .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em .4em .5em .4em;
}
div.pop_up .ui-dialog-buttonset {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}

table.details {
  border-collapse: collapse;
  border: none;
}
table.details td {
  min-width: 150px;
}
table.details td:hover span {
  display: block;
}
table.details th td {
  min-width: 150px;
}
table.details tr {
  padding: 10px;
  border-bottom: 2px solid #000;
}
table.master-display td {
  min-width: 215px;
}
table.master-display td .download {
  text-align: right;
}
table.error-report {
  width: 100%;
  margin: 0;
  padding: 0;
}

/*
span.options{
    position: absolute;
    left:-30px;
    top:15px;
  display: block;
  width: 15px;
  height: auto;
}
img.down-icon{
      width: 20px;
  height: auto;
}
form{
    margin-top:50px;
}
fieldset{
    margin:10px;
    padding:15px;
}
legend{
    font-size:1.75em;
}
.add-field{
    width:25px;
    height:auto;
    cursor:pointer;
}
input[type=text], select, input[type=date], textarea, input[type="url"]{
    min-width:300px;
    border-radius:5px;
    line-height:24px;
    margin-bottom:15px;
}
input[type=number]{
    min-width:35px;
    max-width:50px;
    height:30px;
    border-radius:5px;
}
textarea{
    margin-top:-35px;
}
select{
    height:24px;
    font-size:20px;
}
.newError{
    margin:10px 0;
}
table.error-report{
    width:100%;
    margin:0;
    padding:0;
}
table.error-report {
    position: relative;
}
*/
#submit-error-deletion {
  position: fixed;
  top: 70px;
  z-index: 999;
  background-color: #47a8d8;
  padding: 5px;
  font-size: 12px;
  border: none;
  color: #FFF;
  right: 2px;
  font-weight: 700;
  box-shadow: -2px 2px 2px #000;
  text-shadow: 1px 1px #000;
}

div#sorting {
  float: left;
  max-width: 40%;
}

div#sorting form {
  margin-top: 0px;
}

.main-container input#mass_delete {
  position: absolute;
  top: -999px;
  left: -999px;
}
.main-container #delete-notice {
  float: left;
  width: 60%;
  padding: 0px 5px;
}
.main-container #delete-notice p {
  color: #000;
  font-weight: 900;
  margin: 0px;
  background-color: rgba(220, 85, 81, 0.5);
  border: 5px inset rgba(220, 85, 81, 0.85);
  padding: 5px;
  border-radius: 5px;
}
.main-container:after {
  clear: both;
  content: "";
  display: block;
}

div.clear-fix {
  display: block;
  clear: both;
}

.error_card {
  width: 25%;
  min-width: 200px;
  float: left;
  left: 0;
  padding: 5px;
  text-align: center;
  position: relative;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}
.error_card:hover {
  top: -20px;
}
.error_card.delete {
  width: 0%;
  min-width: 0px;
  padding: 0px;
  overflow: hidden;
}
.error_card.delete .domain-select {
  display: none;
}
.error_card.delete .error_cont {
  width: 0%;
  min-width: 0px;
  left: -102%;
  opacity: 0;
  border-radius: 10px;
  overflow: hidden;
}
.error_card .domain-select {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 85px;
  cursor: pointer;
  z-index: 99;
}
.error_card .domain-select span {
  /*
  position:absolute;
  top:10px;
  right:15px;
  background-color:#ccc;
  box-shadow: 2px 1px #000;
  border-radius:10px;
  padding:2px 5px;
  font-weight:900;
  text-align:center;
  text-shadow:1px 1px #FFF;
  */
}
.error_card .domain-select span.selected {
  background-color: red;
  text-shadow: 1px 1px 1px #ccc;
}
.error_card .domain-select input {
  position: absolute;
  margin: 10px;
  top: 10px;
  right: 15px;
  display: block;
}
.error_card .domain-select .switch-input:checked ~ .switch-handle {
  left: 62px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.error_card .error_cont {
  border: 2px ridge black;
  border-radius: 10px;
  width: 100%;
  min-height: 265px;
  box-sizing: border-box;
  overflow-wrap: initial;
  padding: 25px 0px;
  position: relative;
  word-wrap: break-word;
  left: 0;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  -webkit-box-shadow: 3px 3px 2px 1px black;
  -moz-box-shadow: 3px 3px 2px 1px black;
  -ms-box-shadow: 3px 3px 2px 1px black;
  -o-box-shadow: 3px 3px 2px 1px black;
  box-shadow: 3px 3px 2px 1px black;
}
.error_card h2 {
  font-size: 18px;
  line-height: 20px;
  margin-top: 1.5em;
  margin-bottom: .5em;
}
.error_card h3 {
  font-size: 1em;
}
.error_card .error_list {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999999999;
}
.error_card .error_list .error_help_1 {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 200px;
  height: 150px;
  background-color: #fff;
  padding: 30px;
  border-radius: 25%;
  border: 1px inset #000;
  z-index: 99999;
}
.error_card .error_list .error_help_1:after {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 120px;
  border-width: 0 20px 50px 0px;
  border-style: solid;
  border-color: transparent #FFF;
  display: block;
  width: 0;
}
.error_card .error_list .error_listing {
  cursor: default;
  width: 75%;
  margin-left: 12.5%;
  min-width: 500px;
  max-height: 90%;
  overflow-y: auto;
  background-color: #fff;
  color: #000;
  text-align: left;
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  -ms-box-shadow: inset 0 0 10px black;
  -o-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}
.error_card .error_list .error_listing > a {
  display: block;
  font-size: 1.75em;
  text-align: center;
  margin: 15px 0px;
}
.error_card .error_list .error_listing section.newError {
  width: 90%;
  margin: 0 auto;
  padding: 5px 15px;
  border-bottom: 1px solid #000;
  cursor: text;
  position: relative;
}
.error_card .error_list .error_listing section.newError:after {
  content: "";
  display: block;
  clear: both;
}
.error_card .error_list .error_listing section.newError .error-report {
  width: 100%;
}
.error_card .error_list .error_listing section.newError .error-report .delete-error {
  right: 0;
  margin-right: 15px;
  display: block;
  position: absolute;
  width: 75px;
}
.error_card .error_list .error_listing section.newError .error-report h3 {
  font-size: 1.15em;
  display: block;
}
.error_card .error_list .error_listing section.newError .error-report .report {
  display: block;
}
.error_card .error_list .error_listing section.newError .error-report .report span {
  float: left;
  box-sizing: border-box;
  padding-left: 5px;
}
.error_card .error_list .error_listing section.newError .error-report .report span.reported_error {
  width: 100%;
  clear: both;
  float: none;
}
.error_card .error_list .error_listing section.newError .error-report .report span:last-child {
  clear: both;
  display: block;
}

.importer-details-container {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.75);
}

.importer-details {
  cursor: default;
  width: 75%;
  margin-left: 12.5%;
  min-width: 500px;
  max-height: 90%;
  overflow-y: auto;
  background-color: #fff;
  color: #000;
  text-align: left;
  padding: 0px;
  box-sizing: border-box;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  -ms-box-shadow: inset 0 0 10px black;
  -o-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}
.importer-details section.details {
  cursor: text;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.5);
  color: #000;
  padding: 10px 50px;
}
.importer-details section.details:after {
  content: "";
  clear: both;
  display: block;
}
.importer-details section.details h2 {
  margin-top: 0px;
  text-align: center;
  font-family: auto;
  font-size: 3em;
}
.importer-details section.details article.version-details {
  width: 25%;
  float: left;
  border: 3px solid #000;
  max-height: 250px;
  overflow: hidden;
  position: relative;
}
.importer-details section.details article.version-details * {
  width: 86%;
}
.importer-details section.details article.version-details p {
  margin: 0px;
  padding: 0px 5px;
  margin-top: 55px;
}
.importer-details section.details article.version-details p:nth-of-type(1) {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0px;
  font-size: 1.25em;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFF;
  padding: 0px 0px 10px;
}
.importer-details section.details article.version-details:hover {
  overflow-y: scroll;
  cursor: pointer;
}
.importer-details section.details article.version-details:hover * {
  width: 88%;
}
.importer-details section.details article.version-details:hover p:nth-of-type(1) {
  width: 100%;
}
.importer-details section.details article.version-details:nth-child(4n-2) {
  clear: both;
}
.importer-details section.details article.version-details ul {
  list-style: disc;
  font-size: 12px;
  font-weight: 700;
}
.importer-details section.details article.version-details a.download-stored-repo {
  display: block;
  text-align: right;
  position: relative;
  top: 19px;
  font-size: .65em;
  color: #FFF;
  text-shadow: 2px 2px 2px #000;
  left: 0px;
  margin: 0px;
  width: 50px;
}

.expand {
  width: 25px;
  height: auto;
  cursor: pointer;
}

div.description {
  color: #FFF;
  font-weight: 700;
}

.version-container {
  width: 100%;
  height: 350px;
  box-sizing: border-box;
  border: 10px solid #000;
  position: relative;
  overflow: hidden;
  background-color: #000;
}
.version-container:after {
  content: "";
  display: block;
  clear: both;
}
.version-container span.left-nav, .version-container span.right-nav {
  display: none;
}
.version-container:hover span.left-nav, .version-container:hover span.right-nav {
  display: block;
}
.version-container span.left-nav {
  position: absolute;
  left: -27px;
  top: 145px;
  width: 45px;
  height: 50px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 100%;
  z-index: 10;
  color: #fff;
  cursor: pointer;
}
.version-container span.left-nav i {
  position: absolute;
  right: 6px;
  top: 2px;
  font-size: 3em;
}
.version-container span.right-nav {
  position: absolute;
  right: -27px;
  top: 145px;
  width: 45px;
  height: 50px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 100%;
  z-index: 10;
  color: #fff;
  cursor: pointer;
}
.version-container span.right-nav i {
  position: absolute;
  left: 6px;
  top: 2px;
  font-size: 3em;
}
.version-container div#overflow-container {
  width: 1000%;
  background-color: #000;
  position: absolute;
  right: 0px;
}
.version-container div#overflow-container:after {
  content: "";
  display: block;
  clear: both;
}
.version-container .master-display {
  display: inline-block;
  box-sizing: border-box;
  float: right;
  background-color: #fff;
  border-left: 10px solid #000;
  box-shadow: 2px 2px #000;
  height: 350px;
  max-width: 250px;
  padding: 0px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.version-container .master-display .info-container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 7px;
  top: -5px;
  background-color: rgba(0, 0, 0, 0.45);
  color: #FFF;
  font-weight: 900;
}
.version-container .master-display h2 {
  margin-top: 5px;
  text-align: center;
  font-size: 1.7em;
}
.version-container .master-display .information {
  padding: 0px 20px;
  text-align: right;
}
.version-container .master-display .information b {
  display: block;
  text-align: left;
}
.version-container .master-display .information span {
  display: block;
}
.version-container .master-display .download_link {
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
  left: 0px;
  color: #FFF;
}
.version-container .master-display .download_link a {
  color: #FFF;
}
.version-container .master-display:last-child {
  border-right: none;
}

form.administration-settings-form {
  background-color: rgba(250, 250, 250, 0.5);
  float: left;
  padding-left: 25px;
  width: 80%;
  min-width: 450px;
  box-sizing: border-box;
  padding-bottom: 100px;
}
form.administration-settings-form .fa-hand-o-left {
  position: relative;
  top: 0px;
  left: 0px;
  -webkit-animation-name: point;
  -moz-animation-name: point;
  -ms-animation-name: point;
  -o-animation-name: point;
  animation-name: point;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
form.administration-settings-form h2 {
  font-family: "News Cycle";
  font-size: 28px;
  margin-top: 0px;
}
form.administration-settings-form h2 select {
  font-size: 18px;
}
form.administration-settings-form * {
  box-sizing: border-box;
}
form.administration-settings-form label {
  display: block;
  padding: 0px 25px;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
form.administration-settings-form label.codeNames {
  float: left;
  width: 200px;
}
form.administration-settings-form label.codeNames .switch {
  float: left;
  padding: 0px;
}
form.administration-settings-form label.codeNames .switch .switch-label {
  width: 100%;
  font-size: 14px;
}
form.administration-settings-form label.codeNames .switch .switch-handle {
  top: 1px;
}
form.administration-settings-form label.codeNames .switch .switch-input:checked ~ .switch-handle {
  left: 95px;
  top: 1px;
}
form.administration-settings-form label:after {
  clear: both;
  display: block;
  content: "";
}
form.administration-settings-form label span {
  display: inline-block;
  width: 35%;
  float: left;
  font-family: "Alegreya Sans SC";
  font-weight: 700;
}
form.administration-settings-form label input, form.administration-settings-form label select, form.administration-settings-form label textarea {
  width: 40%;
  display: inline-block;
  float: left;
}
form.administration-settings-form label input[type="number"], form.administration-settings-form label select[type="number"], form.administration-settings-form label textarea[type="number"] {
  max-width: 50px;
}
form.administration-settings-form label textarea {
  height: 135px;
  font-size: 15px;
}
form.administration-settings-form #new_fields {
  position: relative;
  border: 1px solid #000;
}
form.administration-settings-form #new_fields legend {
  font-size: 24px;
  font-family: "Alegreya Sans SC";
  position: relative;
  left: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
form.administration-settings-form #new_fields legend .add-field {
  color: #000;
  background-color: #FFF;
  font-size: 35px;
  position: absolute;
  top: 0px;
  left: -40px;
  width: 30px;
  border-radius: 100%;
  height: 30px;
  padding: 0px;
  cursor: pointer;
}
form.administration-settings-form #new_fields legend .add-field:before {
  position: absolute;
  top: -3px;
}
form.administration-settings-form #new_fields label {
  margin-left: 160px;
  float: left;
  width: 150px;
  font-size: 24px;
  font-family: "Alegreya Sans SC";
  font-weight: 700;
  text-transform: uppercase;
}
form.administration-settings-form #new_fields input[type="text"] {
  width: 300px;
}
form.administration-settings-form .aField {
  border-bottom: 3px dotted #000;
}
form.administration-settings-form input[type="submit"] {
  width: 200px;
  padding: 10px;
  font-family: "Alegreya Sans SC";
  font-weight: 900;
  font-size: 20px;
  clear: both;
  float: left;
}

form.remotes {
  width: 30%;
  float: left;
  box-sizing: border-box;
}
form.remotes h2 {
  font-family: "News Cycle";
  font-size: 28px;
  margin-top: 0px;
}
form.remotes h2 select {
  font-size: 18px;
}
form.remotes * {
  box-sizing: border-box;
}
form.remotes label {
  display: block;
  padding: 0px 25px;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
form.remotes label.codeNames {
  float: left;
  width: 200px;
}
form.remotes label.codeNames .switch {
  float: left;
  padding: 0px;
}
form.remotes label.codeNames .switch .switch-label {
  width: 100%;
  font-size: 14px;
}
form.remotes label.codeNames .switch .switch-handle {
  top: 1px;
}
form.remotes label.codeNames .switch .switch-input:checked ~ .switch-handle {
  left: 95px;
  top: 1px;
}
form.remotes label:after {
  clear: both;
  display: block;
  content: "";
}
form.remotes label span {
  display: inline-block;
  width: 35%;
  float: left;
  font-family: "Alegreya Sans SC";
  font-weight: 700;
}
form.remotes label input, form.remotes label select, form.remotes label textarea {
  width: 40%;
  display: inline-block;
  float: left;
}
form.remotes label input[type="number"], form.remotes label select[type="number"], form.remotes label textarea[type="number"] {
  max-width: 50px;
}
form.remotes label textarea {
  height: 135px;
  font-size: 15px;
}

#Importer-results {
  float: left;
  width: 70%;
  box-sizing: border-box;
  background-color: #FFF;
  padding: 10px 15px;
}
