AuthUserFile /var/www/html/updater/.htpasswd
AuthType Basic
AuthName "Please Authenticate"

<FilesMatch "(settings|stats|errors).php">
  Require valid-user
</FilesMatch>
RewriteEngine On
RewriteRule ^u/([^/]*)/([^/]*)/([^/]*)/([^/]*)$ update.php?plugin=$1&function=$2&action=$3$4 [L]
RewriteRule ^u/([^/]*)/([^/]*)$ update.php?plugin=$1&function=$2 [L]
RewriteRule ^errorlog/([^/]*)/([^/]*)/([^/]*)$ update.php?plugin=$1&function=$2&key=$3 [L]